[Unit]
Description=epg daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/share/epg_server
ExecStart=/home/share/epg_server/epg
Restart=on-failure

[Install]
WantedBy=multi-user.target
